button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.muirtl-1e6y48t-MuiButtonBase-root-MuiButton-root {
    background-color: #FFC800;
    color: #000;
}
.muirtl-1hv8oq8-MuiStepLabel-label.MuiStepLabel-alternativeLabel {
    color: #fff !important;
}
.muirtl-a1sg1c-MuiButtonBase-root-MuiButton-root {
    background-color: #FFC800;
    color: #000;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textInherit.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-colorInherit.MuiButton-root.MuiButton-text.MuiButton-textInherit.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-colorInherit.muirtl-a1sg1c-MuiButtonBase-root-MuiButton-root {
    background-color: #FFC800;
    color: #000;
}
.muirtl-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked {
    color: #FFC800 !important;
}
svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.muirtl-1hbvpl3-MuiSvgIcon-root {
    color: #FFC800 !important;
}
.muirtl-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border-color: #FFC800 !important;
}
.muirtl-1o9s3wi-MuiInputBase-input-MuiOutlinedInput-input,
.muirtl-1pnmrwp-MuiTypography-root,
.muirtl-1sumxir-MuiFormLabel-root-MuiInputLabel-root,
.muirtl-14s5rfu-MuiFormLabel-root-MuiInputLabel-root,
.muirtl-u4tvz2-MuiFormLabel-root,
.muirtl-1sqnrkk-MuiInputBase-input-MuiOutlinedInput-input
{
    color: #fff !important;
}
.muirtl-v4u5dn-MuiInputBase-root-MuiInput-root:before {
    border-bottom: 1px solid #dfaf3d !important;
}
* {
    font-family: IRANYekan !important;
}
.muirtl-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label {
    font-size: 0.875rem !important;
}
.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.MuiInputBase-adornedStart.muirtl-1q6at85-MuiInputBase-root-MuiOutlinedInput-root {
    width: 200px !important;
}
.buyGoldInput label{
    color: #fff !important;
}
.muirtl-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
    color: #fff !important;
}