.cards-style {
    background-image: linear-gradient(92.21deg, #343434 10%, rgba(15, 13, 13, 0) 113.65%);
}

@media (min-width: 768px) {
    .card1 {
        border-left: 1px solid #979797;
    }

    .card2 {
        border-left: 1px solid #979797;
    }
}

@media (min-width: 300px) {
    @media (max-width: 767px) {
        .card1 {
            border-bottom: 1px solid #979797;
        }

        .card2 {
            border-bottom: 1px solid #979797;
        }
    }
}

.image2{
    height: 60px;
}