
.carousel {
    --carousel-height: 400px;
    --carousel-width: 50rem;
    --carousel-item-height: 14rem;
    --carousel-item-width: 10rem;
    width: 60%;
    background: url("../images/Vector.svg") no-repeat 93% 79%;
}

.carousel-container {
    align-items: center;
    min-height: var(--carousel-height);
    margin: 0 auto;
    max-width: var(--carousel-width);
    position: relative;
}

.carousel-item {
    height: var(--carousel-item-height);
    opacity: 0;
    position: absolute;
    transform: translateX(-50%);
    transition: all 1s ease-out;
    width: var(--carousel-item-width);
    z-index: 0;
}

.carousel-item-1 {
    left: 14%;
    top: 26%;
    height: calc(var(--carousel-item-height) * 1.2);
    opacity: 0.1;
    width: calc(var(--carousel-item-width) * 1.2);
    border-radius: 11rem;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(180deg, #FFC800 0%, rgba(223, 175, 61, 0) 100%) border-box;
    border: 3px solid transparent;
}

.carousel-item-2{
    height: calc(var(--carousel-item-height) * 1.7);
    opacity: 0.5;
    width: calc(var(--carousel-item-width) * 1.7);
    z-index: 1;
    background: linear-gradient(white, white) padding-box, linear-gradient(180deg, #FFC800 0%, rgba(223, 175, 61, 0) 100%) border-box;
    border: 3px solid transparent;
}

.carousel-item-2 {
    left: 35%;
    top: 10%;
    border-radius: 11rem;
}

.carousel-item-3 {
    box-shadow: 0 0 8px 6px rgba(0, 0, 0, 0.29);
    height: calc(var(--carousel-item-height) * 2);
    opacity: 1;
    left: 60%;
    width: calc(var(--carousel-item-width) * 2);
    z-index: 2;
    border-radius: 11rem;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(180deg, #FFC800 0%, rgba(223, 175, 61, 0) 100%) border-box;
    border: 3px solid transparent;
}
.carousel-item-3::before{
    content: "";
    border: 3px solid #fff;
    height: 30px;
    width: 60px;
    position: absolute;
    top: 0;
}
.carousel-controls {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.carousel-control {
    background-color: transparent;
    border: 2px solid;
    border-radius: 4px;
    color: #aaa;
    cursor: pointer;
    height: 22px;
    margin: 0 20px;
    position: relative;
    transform: scale(1.5);
    transition: transform 4s ease-in-out;
    width: 22px;
}

.carousel-control:hover {
    transform: scale(1.3);
}
.text-span{
    position: relative;
}
.text-span::after{
    content: url("../images/Vector (1).svg");
    position: absolute;
    top: 2rem;
    right: 0;
}
.slide{
    border: 1px solid #fff;
}

.carousel-dots .dot{
    width: 0.6rem;
    height: 0.6rem;
    margin: 0 0.2rem;
    background-color: white;
    border-radius: 50rem;
}
.active-dot{
    width: 1.5rem !important;
    height: 0.6rem;
    margin: 0 0.2rem;
    background-color: #FFC800 !important;
    border-radius: 50rem;
    transition: all 0.5s linear;
}

@media screen and (max-width: 768px) {
    .carousel {
        --carousel-height: 21rem;
        --carousel-width: 50rem;
        --carousel-item-height: 12rem;
        --carousel-item-width: 10rem;
        width: 60%;
        background: none;
    }
}