.chat-box {
    /*background-color: #fff;*/
    padding: 1rem;
    border-radius: 0.5rem;
    height: fit-content;
    width: 100%;
    /*box-shadow: 0 0 20px 0 rgb(76 87 125 / 2%);*/
}

.chat-box .chat-box-header {
    font-size: 1.5rem;
    font-weight: 600;
    color: #3f4254 !important;
    margin-bottom: 2rem;
    text-align: center;
}

.chat-box label {
    font-weight: 400 !important;
    font-size: 1rem !important;
}

.chat-box input {
    border-radius: .5rem !important;
}

.chat-box .chat-messenger {
    background-color: #141414;
    padding: 1rem;
    border-radius: .5rem;
    width: 100%;
    max-width: 500px;
}

.chat-box .chat-messenger-header {
    font-size: 1.25rem;
    font-weight: 600;
    color: #fff !important;
    margin-bottom: 2rem;
    text-align: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 0.5rem;
}

.chat-box .chat-messenger-body .admin-message,
.chat-box .chat-messenger-body .user-message {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: -moz-fit-content;
    width: fit-content;
    font-size: .8rem;
    font-weight: 400;
}

.chat-box .chat-messenger-body .admin-message {
    background-color: #737373;
    color: #fff;
}

.chat-box .chat-messenger-body .user-message {
    background-color: #dfaf3d;
    color: #000;
}
.chat-box .chat-messenger-body .chat-messenger-item-info {
    font-size: .8rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.chat-box .chat-messenger .chat-messenger-footer {
    border-top: 1px solid #eee;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
}
.chat-box  .chat-messenger-footer input {
    color: #fff;
    font-weight: 400;
    font-size: 12px;
}
.chat-box  .chat-messenger-footer .send-message {
    margin-top: 1rem;
    color: #000;
    font-size: 1rem;
    background-color: #14b8a6;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 100%;
}
.chat-box .chat-messenger-time {
    background-color: #404040;
    color: #fff;
    padding: 0.2rem 0.5rem;
    font-size: 12px;
    font-weight: 600;
    border-radius: 0.5rem;
}
::placeholder {
    color: #fff;
    font-weight: 400;
    font-size: 12px;
}
.MuiAvatar-root.MuiAvatar-circular.MuiAvatar-colorDefault.ml-2.css-2s90m6-MuiAvatar-root {
    width: 30px;
    height: 30px;
    font-size: 14px;
    color: #404040;
}